@model WebBasedFileManager.Models.SshConnectionModel
@{
    ViewData["Title"] = "File Manager";
}

<div class="section">
    <div class="container">
        <h1 class="title has-text-centered">File Manager</h1>

        <form asp-action="Connect" method="post">
            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                    <label asp-for="Ip" class="label">IP Address</label>
                    <input asp-for="Ip" class="input" style="width: 300px;" />
                </div>
                <div class="control">
                    <label asp-for="Username" class="label">Username</label>
                    <input asp-for="Username" class="input" style="width: 300px;" />
                </div>
                <div class="control">
                    <label asp-for="Password" class="label">Password</label>
                    <input asp-for="Password" type="password" class="input" style="width: 300px;" />
                </div>
            </div>
            <br />
            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                    <input type="submit" value="Connect" class="button" />
                </div>
            </div>
        </form>

        @if (ViewBag.Files != null)
        {
            <div class="buttons-container">
                <form asp-action="NavigateUp" method="post" style="display: inline;">
                    <input type="hidden" name="currentPath" value="@ViewBag.CurrentPath" />
                    <button type="submit" id="navigateUp" class="button is-primary is-outlined">
                        <i class="fa-solid fa-arrow-up"></i> &nbsp;Navigate Up
                    </button>
                </form>
                <button class="button is-link is-outlined"><i class="fa-solid fa-plus"></i> &nbsp;Add File</button>
                <button class="button is-info is-outlined"><i class="fa-solid fa-arrows-up-down-left-right"></i> &nbsp;Move File</button>
                <button type="button" id="compressButton" class="button is-warning is-outlined"><i class="fa-solid fa-file-zipper"></i> &nbsp;Compress</button>
                <button class="button is-success is-outlined"><i class="fa-solid fa-file-zipper"></i> &nbsp;Decompress</button>
                <form asp-action="Delete" method="post" id="deleteForm">
                    <input type="hidden" name="currentPath" value="@ViewBag.CurrentPath" />
                    <button type="submit" id="deleteButton" class="button is-danger is-outlined">
                        <i class="fa-solid fa-trash-can"></i> &nbsp;Delete
                    </button>
                </form>
            </div>
            <h2 class="subtitle">Position : @ViewBag.CurrentPath</h2>
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll" /></th>
                        <th>File Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in ViewBag.Files)
                    {
                        <tr>
                            <td><input type="checkbox" class="file-checkbox" value="@file" /></td>
                            <td>
                                @if (System.IO.Path.HasExtension(file))
                                {
                                    <i class="fa-regular fa-file"></i> @file
                                }
                                else
                                {
                                    <form asp-action="Navigate" method="post" style="display: inline;">
                                        <i class="fa-regular fa-folder"></i>
                                        <input type="hidden" name="path" value="@file" />
                                        <input type="hidden" name="currentPath" value="@ViewBag.CurrentPath" />
                                        <button type="submit" class="button is-text folder-link" data-folder-name="@file">@file</button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@if (ViewBag.DebugInfo != null)
{
    <div class="debug-info">
        <h3>Debug Information</h3>
        <ul>
            @foreach (var info in ViewBag.DebugInfo)
            {
                <li>@info</li>
            }
        </ul>
    </div>
}

<script>
    document.getElementById('selectAll').addEventListener('change', function (e) {
        const checkboxes = document.querySelectorAll('.file-checkbox');
        checkboxes.forEach(checkbox => {
            checkbox.checked = e.target.checked;
        });
    });

    // Delete
    document.getElementById('deleteButton').addEventListener('click', function (e) {
        e.preventDefault();

        const form = document.getElementById('deleteForm');
        const checkboxes = document.querySelectorAll('.file-checkbox:checked');
        const selectedItems = Array.from(checkboxes).map(cb => cb.value);

        // Clear any existing hidden inputs
        const existingItems = form.querySelectorAll('input[name="items"]');
        existingItems.forEach(input => input.remove());

        if (selectedItems.length > 0) {
            // Add hidden inputs for each selected item
            selectedItems.forEach(item => {
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'items';
                input.value = item;
                form.appendChild(input);
            });
            form.submit();
        } else {
            alert('No items selected.');
        }
    });
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .folder-link {
        color: #ffffff !important;
        text-decoration: underline; 
        background: none; 
        border: none;
        padding: 0; 
        font-size: inherit; 
    }

        .folder-link:hover {
            color: #ffffff !important; 
            text-decoration: underline !important; 
        }


    .buttons-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

        .buttons-container .button {
            margin: 0.5rem;
        }
</style>
